# Gradle files
*.iml
.gradle
/local.properties
/.idea/
.classpath
.project
.settings/

# Android Studio
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/.name
.DS_Store

# Built application files
/build/
*.apk
*.ap_

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio captures
captures/

# Others
.DS_Store