name: Publish

on:
  workflow_run:
    workflows:
      - CI
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          build-tools: '33.0.0'
          platform-tools: true
          tools: true
      - name: Build the app
        run: ./gradlew assembleRelease
      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyPassword: ${{ secrets.KEYPASS }}
          keyStorePassword: ${{ secrets.STOREPASS }}
        env:
          BUILD_TOOLS_VERSION: "33.0.0"