name: Publish

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Setup build tool version variable
        shell: bash
        run: |
          BUILD_TOOL_VERSION=$(ls /usr/local/lib/android/sdk/build-tools/ | tail -n 1)
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          build-tools: ${{ env.BUILD_TOOL_VERSION }}
          platform-tools: true
          tools: true
      - name: Build the app
        run: ./gradlew assembleRelease
      - name: Debug APK Directory
        run: ls -R app/build/outputs/apk/release
      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyPassword: ${{ secrets.KEYPASS }}
          keyStorePassword: ${{ secrets.STOREPASS }}
        env:
          BUILD_TOOLS_VERSION: ${{ env.BUILD_TOOL_VERSION }}
      - name: Debug Signing Secrets
        run: |
          echo "Alias: ${{ secrets.ALIAS }}"
          echo "Keystore Password: ${{ secrets.STOREPASS }}"
          echo "Key Password: ${{ secrets.KEYPASS }}"