name: Publish

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Setup build tool version variable
        shell: bash
        run: |
          BUILD_TOOL_VERSION=$(ls /usr/local/lib/android/sdk/build-tools/ | tail -n 1)
          echo "BUILD_TOOL_VERSION=$BUILD_TOOL_VERSION" >> $GITHUB_ENV
          echo Last build tool version is: $BUILD_TOOL_VERSION
      - uses: actions/checkout@v3
      - name: set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          build-tools: ${{ env.BUILD_TOOL_VERSION }}
          platform-tools: true
          tools: true
      - name: Build the app
        run: ./gradlew assembleRelease
      - name: Debug APK Directory
        run: ls -R app/build/outputs/apk/release
      - name: Debug Signing Secrets
        run: |
          echo "Alias: ${{ secrets.ALIAS }}"
          echo "StorePass: ${{secrets.STOREPASS}} | sed 's/./& /g'"
          echo "KeyPass: ${{secrets.KEYPASS}} | sed 's/./& /g'"
          echo "Signing Key: ${{ secrets.SIGNING_KEY }}"
      - name: Decode signing key
        run: echo "${{ secrets.SIGNING_KEY }}" | base64 -d > app-release-key.jks
      - name: Verify keystore
        run: keytool -list -v -keystore app-release-key.jks -storepass ${{ secrets.KEYPASS }}
      - name: Align APK
        run: |
          /usr/local/lib/android/sdk/build-tools/${{ env.BUILD_TOOL_VERSION }}/zipalign -p -f -v 4 \
            app/build/outputs/apk/release/app-release-unsigned.apk \
            app/build/outputs/apk/release/app-release-unsigned-temp.apk
      - name: Sign APK
        run: |
          /usr/local/lib/android/sdk/build-tools/${{ env.BUILD_TOOL_VERSION }}/apksigner sign \
          --ks app-release-key.jks \
          --ks-key-alias: ${{ secrets.ALIAS }} \
          --ks-pass pass: ${{ secrets.STOREPASS }} \
          --key-pass pass: ${{ secrets.KEYPASS }} \
          --out app/build/outputs/apk/release/app-release-unsigned-signed.apk \
          - app/build/outputs/apk/release/app-release-unsigned-temp.apk